/* RESET STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
}

/* LAYOUT */
.container {
    width: 900px;
    margin: 0px auto;
}

.row {
    display: flex;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.col-100 {
    width: 100%;
}

.col-75 {
    width: 75%;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;
}

.col-1-6{
    width: calc(100% / 6);
}

.col-2-6{
    width: calc((100% / 6) * 2);
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

/* HEADER */
.header-main {
    justify-content: space-between;
}

.header-main > * {
    padding: 12px;
}

.header-img {
    padding: 12px 0;
}

/* SECTION AND HEADER CONTAINER MARGIN */
header .container, section .container {
    margin: 18px auto;
}

/* FOOTER STYLE */
footer .container {
    margin-top: 18px;
}

footer .row {
    justify-content: space-between;
    align-items: center;
}

/* DEBUG STYLE */
.debug .row > *, .debug .row-reverse > * {
    border: 1px dashed red;
}

.debug .row, .debug .row-reverse{
    height: 300px;
}

.debug-height-width {
    height: 300px;
    width: 600px;
}