/* RESET STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
}

/* LAYOUT */
.container {
    width: 900px;
    margin: 0px auto;
}

.row {
    display: flex;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.col-100 {
    width: 100%;
}

.col-75 {
    width: 75%;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;
}

.col-16{
    width: calc(100% / 6);
}

.col-32{
    width: calc((100% / 6) * 2);
}

/* HEADER STYLE */
header .container {
    padding: 12px 0;
}

.header-main {
    justify-content: space-between;
}

.header-main > * {
    padding: 12px;
}

.header-img {
    justify-content: center;
    padding: 15px 0;
}

/* SECTION STYLE */
section {
    padding: 18px 0;
}

/* FOOTER STYLE */
footer .container {
    padding-top: 18px;
}

footer .row {
    justify-content: space-between;
    align-items: center;
}

/* DEBUG STYLE */
.debug .row > *, .debug .row-reverse > * {
    border: 1px dashed black;
}

header.debug .header-img > .header-img-content {
    height: 300px;
    width: 600px;
}

section.debug [class^="col"] {
    height: 300px;
}

footer.debug .row {
    height: 50px;
    background-color: aqua;
}