/* RESET STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */
.container {
    width: 900px;
    margin: 18px auto;
}

.row {
    display: flex;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.col-75 {
    width: 75%;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

/* HEADER */
.header-main {
    justify-content: space-between;
}

.header-main > * {
    padding: 12px;
}

.header-img {
    padding: 12px 0;
}

/* DEBUG STYLE */
.debug {
    border: 1px solid black;
    background-color: aqua;
}

.debug > * {
    border: 2px solid blue;
}

.debug > * * {
    border: 1px dashed red;
}

.debug-height {
    height: 300px;
}

.debug-width {
    width: 600px
}